{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="column span-16">   
        
        <h2 class="recent">Recent Transparency Job Postings <a href="/jobs/feeds/latest/"><img src="http://media.sunlightprojects.org/transparencyjobs/images/tj_rss.png" border="0"></a></h2>

        {% if job_list %}
            <ul class="job_list hfeed">
                {% for job in job_list %}
                    <li class="{% cycle '' 'alt' %} hentry">
                        <a href="{% url job_detail job.pk %}" rel="bookmark">
                            <span class="job_position entry-title">{{ job.position }}</span>
                            <span class="job_location">{{ job.location }}</span>
                            <span class="job_organization">{{ job.get_position_type_display }} @ {{ job.organization }}</span>
                            <span class="job_date_published">
                                <abbr title="{{ job.date_published|date:"Y-m-d\TH:i:s" }}" class="published">posted {{ job.date_published|date:"F j, Y" }}</abbr>
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No career opportunities have been submitted at this time.</p>
        {% endif %}

        {% if is_paginated %}
            <p id="pagination">
            {% if page_obj.has_next %}
                <a href="{% url job_list %}?page={{ page_obj.next_page_number }}" class="next">Next</a>
            {% endif %}
            {% if page_obj.has_previous %}
                <a href="{% url job_list %}?page={{ page_obj.previous_page_number }}" class="previous">Previous</a>
            {% endif %}
            </p>
        {% endif %}
    

    </div>  
   
    <div class="column span-8 last">
        <div id="sidebar_box">
            <div id="sidebar_content">
                <h3>Transparency Jobs is moving on</h3>
                <p>We are in the process of shutting down Transparency Jobs. The site will stay up until the existing jobs are filled or expired. If you are seeking employment in the transparency field, <a href="http://sunlightfoundation.com/jobs/">consider working with the Sunlight Foundation</a>.</p>
            </div>
        </div>
        <div id="sidebar_bottom">&nbsp;</div>


</div>

        
</div>      
{% endblock %}